@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.invisibleScroller {
    overflow: hidden;
}

.invisibleScroller:hover {
    overflow-y: auto;
}

.invisibleScroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.invisibleScroller::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #f5f5f5;
}

.invisibleScroller::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #c1c1c1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Montserrat";
}
.app-sidebar {
    width: 100px;
    height: 100vh;
    background-color: var(--foreground);
}
.app-content {
    width: calc(100% - 100px);
    height: 100vh;
    background-color: #fbfbfb;
}
.app-card {
    box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
}
.home-alerts {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.home-alerts > .alert {
    display: flex;
    gap: 6px;
    align-items: center;
}
