.sidebar-main {
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    height: 124px;
}

.sidebar-middle {
    height: calc(100% - 296px);
}

.sidebar-bottom {
    height: 172px;
    margin-bottom: 12px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    font-size: 10px;
    width: 100px;
}

.active {
    color: #000000;
    background-color: #d1efff;
}
